*,html,body
{
		margin:0;
		padding:0;
}

body
{
	background-color:#dcdcdc;
}
.page
{
	width:100vw;
	opacity:0.8;
	font-family :"Arial" , "Courier", "Courier New";
	margin:
}
.page .margin-top
{
	height:1vw;
}

.page .pagetop
{
	padding-left:0.7vw;
}
.page .header
{
	background-color:white;
	border-radius:10px;
	box-shadow:0 0 10px 1px;
	opacity:0.95;
	width:98vw;
	padding-left:10px;

}

.page .header .title
{
	font-size:180%;
	font-weight:700;
	padding:1%;
	padding-left:1%;
	color:teal;
}

.page .header .subtitle
{
	font-size:150%;
	font-weight:600;
	padding-left:2%;
	padding-bottom:0.5%;
	letter-spacing:0.1em;
}

.page .header .subtitle .slash
{
	font-size:160%;
	color:#0696d7;
}

.page .header .in,.page .header .up
{
	display:inline-block;
	padding-right:2vw;
}


.page .header button
{
	width : 15vw;
	line-height: 5%;
	height : 5%;
	border-color: #0696d7;
	border-radius: 4px;
	text-align:center;
	background-color:#0696d7;
	color:white;
	font-weight:600;
	font-size : 100%;
	border-style : solid;
	transition:0.3s ease-in;
}
.page .header .login-area
{

	width:100%;
	text-align:right;
	padding-bottom:0.5%;
}



.page .header .up button
{
	background-color:#FEF;
	color:black;
}

.page .header .in button:hover
{
	color:#0696d7;
	background-color:#FEF;
}

.page .header .up button:hover
{
	background-color:#000;
	color:cyan;
}


.page .margin-hor-1
{
	height: 3vw;
}

.page .textbox
{
	width : 100%;
	text-align:center;
}

.page .textbox .text
{
	width: 60%;
	letter-spacing:0.05em;
	font-size:115%;
	text-align:justify;
	background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0));
	padding-right:4vw;
	padding-left:4vw;
	padding-top:2vw;
	padding-bottom:2vw;
	margin: 0 auto;
	border-radius:10px;
}

.page .textbox .text .blue
{
	color:darkblue;
	font-weight:600;
}

.page .textbox .text .orange
{
	color:orangered;
	font-weight:600;
}

.page .textbox .text .green
{
	color:green;
	font-weight:600;
}

.page .footer
{
	text-align:center;
	padding-bottom:3vh;
	width:100%;
}

.page .footer a
{
	text-decoration:none;
	color: #0696d7;
	font-weight:600;
	transition: 0.3s ease-in;
}

.page .footer a:hover
{
	color:red;
}

/*  */
/*  */
@media screen and (max-width : 1000px)
{
	.page .header
	{
		width:97vw;	
	}
	
	.page .textbox .text
	{
		width : 80%;
	}
}
@media screen and (max-width : 600px)
{
	.page .header
	{
		padding-left:0;
		width:98vw;
	}
	.page .header button
	{
		width:20vw;
		font-size:80%;
		
	}
	.page .header .in,.page .header .up
	{
		display:inline-block;
		padding-right:3vw;
	}
}

@media screen and (max-height : 530px)
{
	.page .header button
	{
		height: 8vh;
	}
}

@media screen and (max-width : 330px)
{
	.page .header button
	{
		width : 38vw;
	}
	
	.page .header .subtitle
	{
		font-size:110%;
	}

}
