*,html,body
{
    margin : 0;
    padding : 0;
}

body
{
    background-color : #FFF;
}


.head
{
    padding-left : 5%;
    padding-top : 3%;
    color: transparent;
    background: linear-gradient(cyan,red,cyan,red,cyan);
    -webkit-background-clip: text;
    font-size : 150%;
}


@font-face
{
font-family:'ARTIFAKT LEGEND REGULAR';
src:url('https://cdn.web-platform.io/artifakt/release/v1.2.0/Artifakt Legend Regular.eot');
src:url('https://cdn.web-platform.io/artifakt/release/v1.2.0/Artifakt Legend Regular.eot') format('eot'),url('https://cdn.web-platform.io/artifakt/release/v1.2.0/Artifakt Legend Regular.woff') format('woff'),url('https://cdn.web-platform.io/artifakt/release/v1.2.0/Artifakt Legend Regular.ttf') format('ttf');
font-weight:normal;
font-style:normal
}

.page
{
	position:relative;
}
.page .login-box
{
    padding-top: 7vh;
}


.page .login-box .box .login span
{
    font-size: 120%;
}

.page .login-box .box .login
{
    text-align:left;
    padding-bottom:5%;
}

.page .login-box .box
{
    border:5px;
    border-radius : 10px;
    width: 50vw;
    border : 2px solid #55AAEE ;
    padding:4%;
    font-family :"ARTIFAKT LEGEND REGULAR","opensans-light","Arial" , "Courier", "Courier New";
}

.page form .form-grp
{
    padding:2%;
}

.page form .form-grp .form-control
{
    width: 70%;
    border-color : #0696d7;
    height: 4%;
    font-size : 100%;
    font-family:"ARTIFAKT LEGEND REGULAR","opensans-light";
    border-radius : 5px;
    padding-left : 3%;
    border:1px solid #CCCCCC;
}   

.page form .submit
{
    padding-top:5%;
}

.page form .submit input
{
    padding: 4%;
    width : 67%;
    line-height: 4%;
    height : 4%;
    border-color: #0696d7;
    border-radius: 2px;
    text-align:center;
    background-color:#0696d7;
    color:white;
    font-weight:900;
	font-family:"ARTIFAKT LEGEND REGULAR","opensans-light","Arial","Courier","Courier New";
	font-size : 100%;
	border-style : solid;
}

.page form .submit input:hover
{
	border-color:#2481AF;
	background-color:#2481af;
	transition: 0.2s ease-in;
}


.page .login-box .box .boxfoot
{
	padding-top: 5%;
}

.page .login-box .box .boxfoot .sign-up a
{
	text-decoration : none;
	color:#0696d7;
}

.page .login-box .box .boxfoot .sign-up a:hover
{
	color:red;
}

.page .login-box .box .boxfoot .newuser,.page .login-box .box .boxfoot .sign-up
{
	display: inline;
	padding-right:1%;
}

/* for desktops */
@media screen and (min-width : 950px)     
{
    .page .login-box .box
    {
        width: 500px;
    }   
}

/* for smaller desktops and tabs */
@media screen and (max-width : 770px)
{
	.head
	{   text-align : center;
		padding-left : 0;
		padding-top : 6%;
		font-size : 100%;
	}
	
    .page .login-box .box
    {
        width : 80vw;
    }
    
    .page form .form-grp
    {
        padding:3%;
    }
    
    .page form .form-grp .form-control
    {
        width: 95%;
        height: 5%;
        
    }
    
    .page form .submit input
    {
        width:85%;
    }
}


/* for smaller touchscreens */

@media screen and (max-width : 320px)
{
	.page form .submit input
	{
		font-size : 90%;
	}
}

/* for very small screen phones */
@media screen and (max-width : 250px)
{
	.page form .form-grp .form-control
	{
		height: 10%;
	}
	.page form .submit input
	{
		height : 10%;
	}
}


.footer
{
	position:absolute;
	background-color: red;
	width:100%;
	bottom:-20px;
}




















